# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# Env files
.env
.env.* 

# Production build
dist/
build/

# Coverage directory
coverage/

# OS/Editor files
.DS_Store
Thumbs.db
.vercel
